.cart {
  color: black;
  font-weight: 300;
}

.total {
  text-align: right;
}

.formtxt {
  text-align: center;
  color: black;
  padding: 15vh;
}

.empty {
  color: black;
  padding: 15vh;
}

.order {
  text-align: left;
  color: black;
}

.cartShow {
  margin: 15px;
  text-align: center;
  justify-content: center;
  border-bottom: 2px solid gray;
}

.pay {
  margin: 20px;
}
