.cart {
  color: black;
  font-weight: 300;
}

.empty {
  color: black;
  padding: 40vh 0 40vh 0;
}

.cartShow {
  margin: 15px;
  text-align: center;
  justify-content: center;
  border-bottom: 2px solid gray;
}

.pastOrder {
  height: 80vh;
}
