.deck {
  margin-bottom: 40px;
  justify-content: center;
}

.card {
  max-width: 400px;
  min-width: 300px;
  margin-top: 25px;
}

#card {
  max-width: 400px;
  min-width: 300px;
  margin-top: 25px;
}

Button {
  align-self: flex-end;
}

.cardHead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-body {
  overflow: hidden;
}

.card-text {
  max-width: 100%;
  text-align: left;
}

.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.storeAdd {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
